body{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	min-width: 1140px;
	color: white;
	font-size: 16px;
	max-height: 550px;
	overflow: hidden;
	background: #fff832;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmY4MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY4OTg5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #fff832 0%, #ff8989 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #fff832 0%,#ff8989 100%);
	background: radial-gradient(ellipse at center,  #fff832 0%,#ff8989 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff8989',GradientType=1 );

}

.main-content {
	margin-bottom: 60px;
}

#word-holder {
	width: 73%;
	margin: 0 auto;
}

#alphabetList {
	margin: 0 auto;
	.letters {
		color: white;
		font-size: 2em;
		font-weight: bolder;
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 20px;
		padding: 9px;
		border-radius: 100%;
		background-color: #DF5959;
		line-height: 36px;
		height: 36px;
		width: 36px;
		transition: background-color 0.3s;
	}

	.letters:hover{
		background-color: #A85252;
		cursor: pointer;	
	}

	.active{
		color: white;
		font-size: 2em;
		font-weight: bolder;
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 20px;
		padding: 9px;
		border-radius: 100%;
		background-color: #DF5959;
		/*#33C561*/
		height: 36px;
		width: 36px;
		transition: background-color 0.3s;
		opacity: 0;		
	}
}

#buttons {
	position: absolute;
	left: 0;
	top: 0;
	margin: 50px;

	#hintBtn {
		background-color: rgba(132, 204, 162, 1);
	}
	#playBtn {
		background-color: #ed5e53;
	}

	#hintBtn,
	#playBtn {
		border: none;
		padding: 10px;
		font-size: 120%;
		font-weight: bolder;
		border-radius: 5px;
		color: white;
		outline: none;
		cursor: pointer;		
		letter-spacing: 4px;
		font-family: 'Open Sans Condensed', sans-serif;
		transition: background-color 0.3s;
	}
	#hintBtn:hover {
		background-color: #5FB884;
	}
	#playBtn:hover {
		background-color: #D56259;
		cursor: pointer;		
	}
}

#categoryName{
	color: #F54949;
	margin: 50px;
	font-size: 3em;
	font-weight: bolder;
	text-align: center;
	display: inline-block;
}

#lives {
	font-weight: bolder;
	font-size: 150%;
	color: white;
	background-color: rgba(89, 247, 217, 0.5);
	border-radius: 100px;
	border: 1px solid rgba(172, 224, 153, 0.99);
	width: 40%;
	margin: 0 auto;
	padding: 5px;
}

.letterHolder {
	display: inline-block;
	margin-right: 10px;
}

.blank {
	display: inline-block;
	margin: 9px;
	font-size: 500%;
	color: rgb(184, 62, 62);
}

#header {
	text-decoration: underline;
}

#clue {
	display: none;
}

#showClue {
	font-weight: bolder;
	font-size: 150%;
	color: white;
	background-color: rgba(8, 180, 255, 0.5);
	border-radius: 100px;
	border: 1px solid rgba(132, 191, 171, 0.99);
	width: 40%;
	margin: 10px auto;
	padding: 5px;
	display: block;
}

#outcome {
	z-index: 1000;
	position: absolute;
	left: 15%;
	top: 25%;
	font-size: 16em;
	font-weight: 700;
	text-shadow: -13px 16px 1px #000;
}